.attribution { 
    font-size: 11px; 
    text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
     }
    body{
        background-color:hsl(217, 54%, 11%);
    }
main{
    display: flex;
    min-height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.card{
    padding:25px;
    width:300px;
    background-color:hsl(216, 50%, 16%);
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    color:#fff;
    font-family: "Outfit", sans-serif;
    border-radius:15px;
    gap: 10px;
    
}
.equilibrium{
    width:100%;
    border-radius:10px;
    display:block;
}
.imgoverlay{
    position: relative;
    cursor:pointer;
}
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s ease;
    background:hsl(178, 100%, 50%, 0.3);
    opacity:0;
    border-radius:15px;
    
}
.view{
    position: absolute;
    top: 41%;
    left: 41%;
}
.imgoverlay:hover .overlay{
    opacity:1;
}
h1{
    font-size: 19px;
    cursor:pointer;
}
p{
    color:hsl(215, 51%, 70%);
    font-size:18px;
    font-weight:300;
    margin-bottom: 10px;

}
.icon{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    font-family: "Outfit", sans-serif;
    font-size:18px;
    padding-bottom: 10px;;
    
}
.iconb{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
    
}
.cyan{
   color:hsl(178, 100%, 50%);
   font-family: "Outfit", sans-serif;
    font-weight:400;
}
hr{
    border:0;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}
.btntxt{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}
.avt{
    width:10%;
    border: 1px solid #fff;
    border-radius:50%;
}
.creator{
    color:#fff;
    cursor:pointer;
}
.creator:hover{
    color:hsl(178, 100%, 50%);
}
h1:hover{
    color:hsl(178, 100%, 50%);

}

