@media (max-width:500px){
    .centrbox{
        display: flex;
        flex-direction: column-reverse; 
        justify-content: center;
        margin:auto;
        padding:0;
    }
    .container{
        padding:1rem;
    }
    img{
        border-bottom-right-radius: 0;
        border-top-left-radius: 15px;
        margin: 0;
    }
    .frtbox{
        border-top-left-radius: 0;
        border-bottom-right-radius: 15px;
        text-align: center;
        padding: 0;
        
    }
    .frtbox2{
        height: 363px;
    }
    .txt3{
        display: flex;
        flex-direction: column;
        padding-top:0;
    }
}