.attribution { font-size: 11px;
     text-align: center;
     }
.attribution a {
     color: hsl(228, 45%, 44%);
     }
body{
    background-color:hsl(0, 0%, 98%);
    font-size:15px;
    font-family:"Poppins", sans-serif;
}
main{
    display:flex;
    min-height: 100vh;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
h1{
    font-weight: normal;
}
.spantitle{
    font-weight: 200;
}
.spansubti{
    word-spacing: 7px;
    font-weight: 600;
}
/*posiiton*/
.blocktitle{
    width: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color:hsl(234, 12%, 34%);
}
.blocktitle p{
    width: 500px;
    margin: 0px;
    color:hsl(229, 6%, 66%);
}
.blockbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap:30px;
}
.blockmiddle{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.image{
    float:right;
}
/*position*/
/*blocks*/
.block{
   
    width: 290px;
    border-radius: 3px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
.cyan{
    border-top: 3px solid hsl(180, 62%, 55%);
}
.red{
    border-top: 3px solid hsl(0, 78%, 62%);
}
.orange{
    border-top: 3px solid hsl(34, 97%, 64%);
}
.blue{
    border-top:  3px solid hsl(212, 86%, 64%);
}
.block p{
    margin-top:0px;
}
.contboxt{
    font-size:19px;
    font-weight: 600;
    color:hsl(234, 12%, 34%);
   
}
p .conttxt{
    margin-bottom:40px;
    font-weight: 200;
    color:hsl(229, 6%, 66%);
    font-size:13px;
}
