.attribution { 
    font-size: 11px;
     text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
body{
 background:hsl(210, 46%, 95%)
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*container*/
.container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 75%;
    justify-content: center;
}
/*container*/

/*imgleft*/
.imgleft{
    width:30%;
    overflow:hidden;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
/*imgleft*/

/*right-side*/
.textbox{
    font-size:13px;
    width:35%;
    padding:30px;
    font-family:"Manrope", sans-serif;
    background-color:#fff;
    font-size:15px;
    padding-left:45px;
    padding-right:45px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
}
.textbox h1{
    font-weight:700;
    color:hsl(217, 19%, 35%);
    font-size: 22px;
}
.midtext{
    font-weight:500;
    color:hsl(214, 17%, 51%);
}
/*bottomtext*/
.bottomtext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:14px;
}
.imgavt{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
.avtm{
    width: 20%;
    border-radius:50%;
}
/*bottomtext*/
/*img-hover*/
.sharebtn{
    background: hsl(210, 46%, 95%);
    padding: 10px;
    border: 0;
    border-radius: 20px;
    cursor:pointer
}
.sharebtn:hover, .sharebtn.active{
    background:hsl(217, 19%, 35%);;
}
.tooltip{
    display: flex;
    flex-direction: column-reverse;
}
.iconshr{
    visibility:hidden;
    position: absolute;
    width: 251px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    background-color: hsl(217, 19%, 35%);
    justify-content: space-evenly;
    align-items: center;
    top: 49%;
    right: 19%;
}
.iconshr.active{
    visibility:visible;
}
.iconshr::after{
    content:" ";
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-5px;
    border-width:15px;
    border-style:solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;

}
/*hoverimg*/
/*txt*/
.lttr{
    letter-spacing:5px;
    color:hsl(214, 17%, 51%);
}
.textup{
    font-weight:700;
    color:hsl(217, 19%, 35%);
}
.textdown{
    font-weight:500;
    color:hsl(212, 23%, 69%);
}
/*txt*/
/*right-side*/

